{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">        
        <title>🌱 Colheitas - Confirmar Delete</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
      </head>

    <body>

        <div>
            <br><br><br><br>
            <form>
                {% csrf_token %}
                <center>
                <h2> Tem certeza que deseja deletar o produto {{product.name}} ?</h2>
                <br>
                    <button type="submit">
                        <a href="{% url 'delete_product' product.id %}">
                        Confirmar
                        </a>
                    </button>
                    <br>
                    <button type="produto">
                        <a href="/products/products/">Cancelar</a>
                    </button>
                </center>
            </form>

        </div>


    </body>
</html>
{% endblock %}