{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">        
      <title>🌱 Colheitas - Registrar Produtos</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    </head>

    <body>

      <div>
	  <br><br><br><br>
      <center>
        <h2>
            Registre seu produto:
        </h2>
        <br>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit">Enviar</button>
            <br>
            <button type="produto">
                <a href="/">Voltar</a>
            </button>
            <br>
          </form>
        
        </center>
      </div>

    </body>
  </html>

{% endblock %}
