{% extends "base.html" %}

{% block content %}
    <h2>Produto</h2>
    <p>
        Nome: {{ product.name }}
    </p>
    <p>
        Quantidade: {{ product.quantity }} {{ product.get_measure_display }}
    </p>
    <p>
        Preço: R$ {{product.price}}
    </p>
    <p>
        Vendedor: {{ product.seller.user.first_name }} {{ product.seller.user.last_name }}
    </p>

    {% if user.user_type == 1%}
    
        <button type="produto">
            <a href="/products/products/">Voltar</a>
        </button>
    
    {% elif user.user_type == 2%}
    
        <button type="produto">
            <a href="/products/products/state/">Voltar</a>
        </button>
        
    {% endif %}
{% endblock %}