{% extends 'base.html' %}
{% load static %}
{% block content%}

<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">        
      <title>🌱 Colheitas - Buscar Produtos</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    </head>

    <body>

      <div>
	  <br><br><br><br>
        <center>
            {%if searched%}
                <h2> Você pesquisou por: {{ searched }}</h2>
                <br>
            {% endif %}
            {% if products %}
            <ul>
                {% for p in products %}
                    <li>
                    <a>{{ p.name }}</a>, {{ p.quantity }} {{ p.get_measure_display }} - R${{p.price}}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <br>
            <button type="submit">
                <a href="/">Voltar</a>
            </button>
            <br>
        </center>
      </div>


    </body>
  </html>

{% endblock %}