{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">        
        <title>🌱 Colheitas - Cadastre-se</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    </head>

<body>

    <div id="boxHeader">

        <div id="boxTitle">
            <br>
            <h1>🌱 Colheitas 🌱</h1>
            <br>
        </div>
        <hr size="2" width="100%" color="#228B22">

    </div>
    
    <div id="divide">
        <div id="boxImg">
    
            <img src="{% static 'img/agricultor.png' %}" width="400px" vertical-align="middle">
    
        </div>
    
        <div id="boxSignUp">
            <h2>Cadastre-se</h2>
            <br><br>
            <p>Você gostaria de se cadastrar como comprador ou vendedor?</p>
            <br>
            <div class="buttons">
                <button>  
                    <a href="/accounts/signup/buyer/" class="button" type="button">Comprador</a>
                </button>
                <br>
                <button>
                    <a href="/accounts/signup/seller/" class="button" type="button">Vendedor</a>
                </button>
                <br>
                <p>
            </div>
            <br>
            <button>
                <a href="/" class="button" type="button">Voltar</a>
            </button>
            </p>
        </div>
            
    </div>

    <footer>
        <hr size="1" width="100%" color="#228B22">
        <br>
        Colheitas está debaixo da Licensa do MIT.
        <br>
        Copyright (c) 2022 ES-UFABC
    </footer>


</body>
    
</html>