<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}🌱 Colheitas - Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">        
      <title>🌱 Colheitas - Cadastre-se</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    </head>

    <body>
    <div id="boxHomeDad">
      <center>
      <div id="boxHome">
        <br><br><br><br>
        <p>
          Bem vindo ao Colheitas {{ user.first_name }} {{ user.last_name }}!
        </p>
        <br>
        <p>
          Estado: {{ user.get_state_display }}
        </p>
        <br>     
        <p>
          Tipo de usuário: {{ user.get_user_type_display }}
        </p>
        <br>
      </div>
      <div>
        {% if user.user_type == 1%}

          <button class="buttonRound">
            <a href="/products/register/" class="button" type="button">Registrar um produto</a>
          </button>

          <button class="buttonRound">
            <a href="/products/products/" class="button" type="button">Seus produtos</a>
          </button>

        {% endif %}

        <button class="buttonRound">
          <a href="/products/products/state" class="button" type="button">Produtos em seu estado</a>
        </button>
      </div>
      <div style="margin-top:2em">
        <button type="button" >
          <a href="{% url 'logout' %}">Sair</a>
        </button>
      </div>
        </center>
      </div>

    </body>
  </html>

{% else %}

  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">        
      <title>🌱 Colheitas - Cadastre-se</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    </head>

    <body>

      <div id="divide">

        <div id="boxImg">
    
          <img src="{% static 'img/agricultor.png' %}" width="400px" vertical-align="middle">
  
        </div>

        <div id="boxSignUp">
            <h2> Bem Vindo!</h2>
            <br>
            <p>Nosso serviço conecta pequenos produtores agrícolas aos seus consumidores de maneira rápida, fácil e direta.</p>
            <br>
    
            <div class="buttons">
              <button>
                <a href="{% url 'login' %}" class="button" type="button">Entrar</a>
              </button>
              <br>
              <button>
                <a href="{% url 'signup' %}" class="button" type="button">Cadastrar</a>
              </button>
            </div>
        </div>
      </div>


    </body>
  </html>

{% endif %}
{% endblock %}