{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
      <title>🌱 Colheitas</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
</head>
<br>
<div class = "box">
{% if user.user_type == 1%}
    <h2>Vendedor</h2>
{% else %}
    <h2>Comprador</h2>
{% endif %}
    <p>
        Username: {{ account.username }}
    </p>
    <br>
    <p>
        Nome: {{ account.first_name }} {{ account.last_name }}
    </p>
    <br>
    <p>
        Estado: {{ account.get_state_display }}
    </p>
    <br>
    <p>
        Contato: {{ account.email }}
    </p>
    <br>
    <button type="submit" class = "buttonRound">
              <a href="{% url 'update_account' user.id %}">Editar</a>
    </button>
    <button type="voltar" class = "buttonRound">
        <a href="/">Voltar</a>
    </button>
</div>
{% endblock %}