{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
      <title>🌱 Colheitas - Atualizar Informações</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    </head>

    <body>

      <div class="box">
	  <br><br><br><br>

      <h2>Atualizar um suas informações</h2>
      <br>
        <form method="POST">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <br>
            <button type="submit" class="buttonRound">Salvar</button>
            <button type="info" class="buttonRound">
                <a href="/">Voltar</a>
            </button>
            <br>
        </form>
      </div>


    </body>
  </html>
{% endblock %}
